   <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 formdiv">
            <h1>Add Employee Info:</h1>
            <form class="example-form" [formGroup]="employeeForm" (ngSubmit)="onSubmit()" novalidate>
              <div class="form-group">
                <input hidden type="text" class="form-control" formControlName="id">
              </div>
              <mat-form-field class="example-full-width">
                <mat-label>Employee Name</mat-label>
                <input matInput type="text" formControlName="name">
                 <!-- error -->
               <mat-error *ngIf="errorHandling('name', 'required')">
                Employee Name is<strong> required</strong>
               </mat-error>
               <mat-error *ngIf="errorHandling('name','minlength')">
                Employee Name should at least contain 3 char
              </mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field class="example-full-width">
                <mat-label>Employee Age</mat-label>
                <input matInput type="number"  formControlName="age" >
                <mat-error *ngIf="errorHandling('age','required')">
                  Employee Age is<strong> required</strong>
                 </mat-error>
                 <mat-error *ngIf="errorHandling('age','range')">
                  Employee Age should at between 22 and 50
                </mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field class="example-full-width">
                <mat-label>Employee position</mat-label>
                <input matInput type="text"  formControlName="position" >
                <mat-error *ngIf="errorHandling('position','required')">
                  Employee position is<strong> required</strong>
                 </mat-error>
                 <mat-error *ngIf="errorHandling('position','minlength')">
                  Employee position should at least contain 3 char
                </mat-error>
              </mat-form-field> 
              <br>
              <br>
              <mat-form-field class="example-full-width">
                <mat-label>Employee salary</mat-label>
                <input matInput type="number" formControlName="salary" >
                <mat-error *ngIf="errorHandling('salary','required')">
                  Employee Salary is<strong> required</strong>
                 </mat-error>
                 <mat-error *ngIf="errorHandling('salary','range')">
                  Employee Salary should be between 260 and 5000
                </mat-error>
              </mat-form-field>
              <br>
              <br>
              <br>
              <button type="submit" mat-raised-button color="primary" [disabled]="!employeeForm.valid" (click)="onSubmit()" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
