   <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 formdiv">
            <h1>Add Employee Info:</h1>
            <form [formGroup]="employeeForm">
              <div class="form-group">
                <input hidden type="text" class="form-control" formControlName="id">
              </div>
              <mat-form-field appearance="fill">
                <mat-label>Employee Name</mat-label>
                <input matInput type="text" class="form-control" formControlName="name" >
                <span *ngIf="employeeForm.get('name')?.invalid && (employeeForm.get('name')?.dirty || employeeForm.get('name')?.touched)">
                  <span class="text-danger" *ngIf="employeeForm.get('name')?.errors?.['required']">Employee Name is required</span>
                  <span class="text-danger" *ngIf="employeeForm.get('name')?.errors?.['minlength']">Employee Name should at least contain 3 char</span>
                </span>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Employee Age</mat-label>
                <input matInput type="text" class="form-control" formControlName="age" >
                <span *ngIf="employeeForm.get('age')?.invalid && (employeeForm.get('age')?.dirty || employeeForm.get('age')?.touched)">
                  <span class="text-danger" *ngIf="employeeForm.get('age')?.errors?.['required']">Employee Name is required</span>
                  <span class="text-danger" *ngIf="employeeForm.get('age')?.errors?.['minlength']">Employee Name should at least contain 3 char</span>
                </span>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Employee position</mat-label>
                <input matInput type="text" class="form-control" formControlName="position" >
                <span *ngIf="employeeForm.get('position')?.invalid && (employeeForm.get('position')?.dirty || employeeForm.get('position')?.touched)">
                  <span class="text-danger" *ngIf="employeeForm.get('position')?.errors?.['required']">Employee Name is required</span>
                  <span class="text-danger" *ngIf="employeeForm.get('position')?.errors?.['minlength']">Employee Name should at least contain 3 char</span>
                </span>
              </mat-form-field>       
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Employee salary</mat-label>
                <input matInput type="text" class="form-control" formControlName="salary" >
                <span *ngIf="employeeForm.get('salary')?.invalid && (employeeForm.get('salary')?.dirty || employeeForm.get('salary')?.touched)">
                  <span class="text-danger" *ngIf="employeeForm.get('salary')?.errors?.['required']">Employee Name is required</span>
                  <span class="text-danger" *ngIf="employeeForm.get('salary')?.errors?.['minlength']">Employee Name should at least contain 3 char</span>
                </span>
              </mat-form-field>
              <br>
              <button type="submit" mat-raised-button color="primary" [disabled]="!employeeForm.valid" (click)="onSubmit()" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
