nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
  }
  
  nav a:hover {
    background-color: #555;
  }